/*Geral*/
*{
  padding: 0px; /*padding espaça dos cantos*/
  margin: 0px;
  font-family: Helvetica;
  color: #333;
  box-sizing: border-box;
}

/*dentro do body o css consegue colocar estilo em tags html*/
body {
  padding: 100px;
}

button {
  background-color: #FDFDFD;
  color: #102F5e;
  border: 2px solid #102F5e;
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  cursor: pointer;/*maozinha*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;

}


/*muda a cor do fundo do botao*/
button:hover {
  background-color: #102f5e;
  color: #fff;

}

/*muda a cor do icone do botao muda com o passar do mouse*/
button:hover > i {
  color: #fff;
}

/*a cor do proprio icone que esta acima do botao*/
button i {
  color: #102f5e;
  font-weight: bold;
  pointer-events: none;/* foi colocado este atributo para clicar quando passar por cima do icone que esta acima do botao, neste caso estou desabilitando o evento*/
}

/*dentro da caixa aonde está escrito default agente pode dar espaçamento*/
input, select {
  padding: 0.25rem 0.5rem;
}



/*esse parametro de classe começa com "." e pode ser add ao html com o atributo class="" do html mais de uma vez e mais de uma classe por tag do html*/

/*começa as classes utilizadas na pagina4 do JS*/
/*classe para esconder as coisas*/
.hide {
  display: none;
}

.todo-container {
  max-width: 450px;
  margin: 3rem auto 0;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
  border: none;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  transition: 1.3s; /*fica suave a transição de cor*/
}

.todo h3 {
  flex: 1;
  font-size: 0.9rem; /*tamanho da fonte*/
}

.todo bottom {
  /*pra afastar os botoes */
  margin-left: 0.4rem;
}

.done {
  background-color: #395169;
}

.done h3 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}


.column{
  display:flex;
  grid-template-columns: 1fr 0fr 0fr;
}


/*termina as classes da pag4*/

/*classes para pag2*/

.texto-caixa {
    text-align: justify;
    color: white;
}
.fontegrande {
    font-family:'Times New Roman';
    font-size: 40px;
    color: white;
}
.sublinhado {
    text-decoration: underline;
}

.mono-espacada {
  font-family: 'Courier New';
  color: white;
}



/*termina as classes utilizadas aonde...*/

/*já o parametro ID começa com # + o nome que quiser. só é possivel usar um id por tag html, ele é add atraves do atributo id="" do html*/

#edit-form, #todo-form {
  padding: 1rem;
  font-size: 0.9rem;
  border-bottom: 1px solid #ccc;
}


#edit-form, #todo-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}



#form-control {
  /*a div que abraça o input e eles ficam ao lado dos botoes*/
  display: flex;

}

#form-control input {
  /*pra ter afastamento entre o botao e o form*/
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  /*para afastar do formulário*/
  margin-top: 1rem;
}


